
#image
{
	display: block;
	width: 80%;
}

.sidebar-module-inset
{
font-size:15px;
padding: 10px;
}

.see-also, .sidebar-module-inset
{
border:1px #a9a9a9 solid;
margin-bottom: 10px;
border-radius: 5px;
}

.sidebar-module-inset h4, .sidebar-module h4
{
text-align: center;
}

.sidebar-module-inset h4 a
{
	color: black;
}

#introduction-author
{
	text-align: center;
}

.share
{
margin:auto;
margin-bottom: 10px;
}

.share li
{
	text-align: center;
	margin-left: -20px !important;
	width: 100%;
	list-style-type: none;
}

.blog-main, .social-media
{
	border:1px #a9a9a9 solid; 
	border-radius: 5px;
}

#imageAuthor
{
	margin: auto;
	display: block;
	width: 50%;
}
