body
{
width: 100%;
}



#pagination
{
	text-align: center;
}

.pagination li a
{
	color:#a9a9a9 !important;
	font-size: 25px;
	/*background-color: #efefef !important;*/
}

.pagination .active a
{
background-color:#20948B !important;
color:white !important;
border-color: #20948B !important;
}

.pagination li a:hover
{
	background-color:#20948B !important;
	color:white !important;
}

#categories
{
font-size: 25px;
color: #3c3c3c;
display: inline-block;
}


.active a
{
	
	background-color: #6AB187 !important;
	color: white; !important;
}

.active a span
{
background-color: #20948B !important;
color: white !important;
}







