/* navigation bar */
.container-fluid
{
	background-color: #20948B;
}


/* brand and main links */
.container-fluid .navbar-header .navbar-brand, .container-fluid .navbar-collapse .navbar-nav li a {
	color: white;
	font-size: 20px;
}

/* link active, link active hover */
.container-fluid .navbar-collapse .navbar-nav .active a, .container-fluid .navbar-collapse .navbar-nav .active a:hover
{
	background-color: #6AB187;
}

/* signed in as... */
.container-fluid .navbar-collapse .navbar-text, .container-fluid .navbar-collapse .navbar-text a
{
	font-size: 15px;
	color:white;
}

/* link hover and brand hover */
.container-fluid .navbar-collapse .navbar-nav li a:hover
{
	background-color: #6AB187;
	color: white;
}

.container-fluid .navbar-collapse .navbar-nav li a:focus
{
color: white;
}

.container-fluid .navbar-header .navbar-brand:focus, .container-fluid .navbar-header .navbar-brand:hover
{
color:white;
}
.badge
{
background-color: #6AB187 !important;
margin-top: -5px;
}

.dropdown-menu li
{
background-color: #20948B !important;
}