body
{
width: 100%;
}

.col-md-10
{
margin: auto;
}

.col-md-2
{
	border-radius: 5px;
	background-color: #efefef;
}


#seeAlso
{
font-size: 25px;
color: #3c3c3c;
display: inline-block;
}

.col-md-2 p a
{
color: #3c3c3c;
font-size: 18px;
}

.col-md-2 p a:hover
{
color: #e14658;
text-decoration: none;
}


