/* Library -------------------------------------------------------------*/


.nav-stacked
{
	word-wrap: break-word;
	font-size: 15px;
}

.nav-stacked li a
{
	color: #3c3c3c;
}

.title_subnavigation
{
	text-align: center;
}

.article
{
	text-align: center;
	word-wrap: break-word;
}

.article, .see-also, .categories
{
	border:1px #a9a9a9 solid;

}

.see-also, .categories
{
	border-radius: 5px;
}


#container-index
{
	margin-top:70px;
	background-color: white;
	width: 95%;
}

/* Title of every articles */
.title
{
font-size: 20px;
color: #3c3c3c;
}

.title:hover
{
	color: #3c3c3c;
}
/* end Title of every articles */


/* author of the article */
.preambleLink
{
	color:#a9a9a9;
	font-size: 16px;
}

.author a, .author a:focus, .preambleLink, .preambleLink:focus
{
	color: #3c3c3c;
	text-decoration: none;
}

.author a:hover, .preambleLink:hover
{
	color:#3c3c3c;
}

.img-rounded
{
width: 60%;
display: block;
margin: auto;
}

/* end author of the article */

.introduction
{
	color:#3c3c3c;
	font-size: 18px;
}

.myButton
{
background-color: #20948B;
color:white;
font-size: 18px !important;
}

.myButton:hover
{
	background-color: #6AB187;
	color:white !important;
}

.myButton:focus
{
color:#a9a9a9 !important;
}

#alert-success, #alert-info
{
	text-align: center;
	font-size: 18px;
}
/* end Library ------------------------------------------------------ */color: #3c3c3c;