/* Library -------------------------------------------------------------*/
#container-index
{
	margin-top:70px;
	background-color: white;
	width: 95%;
	border-right:1px #a9a9a9 solid;
	border-left:1px #a9a9a9 solid;	
}

/* Title of every articles */
.title
{
font-size: 20px;
color: #3c3c3c;
}

.title:hover
{
color: #e14658;
text-decoration: none;
}
/* end Title of every articles */


/* author of the article */
.author, .preambleLink
{
	color:#a9a9a9;
	font-size: 16px;
	display: inline-block;
	margin-right: 150px;
}

.author a, .author a:focus, .preambleLink, .preambleLink:focus
{
	color: #3c3c3c;
	text-decoration: none;
}

.author a:hover, .preambleLink:hover
{
	color:#e14658;
	text-decoration: none;
}

.img-rounded
{
width: 100%;
}

/* end author of the article */

.introduction
{
	color:#3c3c3c;
	font-size: 18px;
}

.myButton
{
background-color: #efefef;
color:#a9a9a9;
font-size: 18px !important;
}

.myButton:hover
{
	background-color: #e14658;
	color:#caebf2 !important;
}

.myButton:focus
{
color:#a9a9a9 !important;
}

#alert-success, #alert-info
{
	text-align: center;
	font-size: 18px;
}
/* end Library ------------------------------------------------------ */