section{
	width:100%;
	margin:auto;
}
#lesBlocs{
	width:82%;
	display:inline-block;
}
#blocGauche{
	display:inline-block;
	border-right:thin #DDDDDD solid;
	width:60%;

}
/*article Principal*/
#articlePrincipal{
	width:100%;
	
}

#articlePrincipal #titreArticle
{
	font-size:30px;
	text-align:left;
	margin:auto;
	font-family:Farnham-textBold;
	color:#202020;
	margin-bottom:20px;
	text-decoration:none;
}



#articlePrincipal #imgPrincipal{
display:block;
width:90%;

}

#articlePrincipal #introduction
{
	font-size:15px;
}

#articlePrincipal #auteur
{

	font-weight:bold;
}
#articlePrincipal #auteur a
{
	font-weight:bold;
	color:#C12020;

}


/* block des article de bas de page */ 
#articleBasPage{
	width:100%;
	margin-top:10px;
}

/* 4eme article */ 

#articleBasPage3{
	width:49%;
	display:inline-block;
	border-right:thin #DDDDDD solid;
}

#articleBasPage3 #imgBasPage3{
	display:block;
	width:100%;
	margin:auto;

}
#articleBasPage3 h2{
	width:100%;
	text-align:left;
	margin:auto;
	margin-top:5px;
}
#articleBasPage3 #titreArticle3{
	font-size:30px;
	margin:auto;
	font-family:Farnham-textBold;
	color:#202020;
	text-decoration:none;
}

#articleBasPage3 #titreArticleMobile3{
	display:none;
}




/* 5ème article */ 

#articleBasPage4{

	width:49%;
	display:inline-block;
	vertical-align:top;

}


#articleBasPage4 #imgBasPage4{
	display:block;
	width:100%;
	margin:auto;

}
#articleBasPage4 #titreArticle4{
	width:100%;

	text-align:left;
	margin:auto;
	margin-top:5px;
}
#articleBasPage4 #titreArticle4{
	font-size:30px;
	margin:auto;
	font-family:Farnham-textBold;
	color:#202020;
	text-decoration:none;

}

#articleBasPage4 #titreArticleMobile4{
	display:none;
}

/*article secondaire*/
#blocDroite{
	display:inline-block;
	vertical-align:top;
	border-right:thin #DDDDDD solid;
	width:39%;
}
#separationArticleSecondaires{
	display:block;
	margin:auto;
}

#articleSecondaire1{
	width:100%;
	vertical-align:top;
	margin-bottom:10px;
	
	
}


#articleSecondaire1 #titreArticle1
{
	text-decoration:none;
	font-size:30px;
	text-align:left;
	margin:auto;
	font-family:Farnham-textBold;
	color:#202020;
	display:block;
	
}


#articleSecondaire1 #introduction
{
	font-size:15px;
	width:49%;
	margin:auto;
	display:inline-block;
	
}

#articleSecondaire1 #imgSecondaire1
{
	display:inline-block;
	width:49%;
	vertical-align: top;
}


/*Troisieme article */

#articleSecondaire2
{
	
	width:100%;
	vertical-align:top;
	margin-bottom:10px;
}

#articleSecondaire2 #titreArticle2
{
	text-decoration:none;
	font-size:30px;
	text-align:left;
	margin:auto;
	font-family:Farnham-textBold;
	color:#202020;
	display:block;
}


#articleSecondaire2 #introduction
{

	font-size:15px;
	display:inline-block;
	width:49%;
	margin:auto;

	
}

#articleSecondaire2 #imgSecondaire2
{
display:inline-block;
width:49%;
vertical-align: top;


}

#separationArticleSecondaires{
	display:block;
	margin:auto;
	width:90%;

}



@media only screen and (max-width: 1100px)
{
	#articlePrincipal #titreArticle, #articleSecondaire1 #titreArticle1, #articleSecondaire2 #titreArticle2, #articleSecondaire3 #titreArticle3
	{
	font-size:20px;
	}
	
	#articleBasPage3 #titreArticle3, #articleBasPage4 #titreArticle4,#lesPlusVues #unArticle h2
	{
	font-size:20px;
	}


}


@media only screen and (max-width: 800px)
{
	#blocGauche
	{
		display:block;
		width:100%;
	}
	
	/* article principal */ 
	#articlePrincipal #titreArticle
	{
		display:block;
		margin:auto;
		text-align:center;
	}
	#articlePrincipal #imgPrincipal{
	display:block;
	width:90%;
	margin:auto;
	
	}
	
	
	#articlePrincipal #auteur, #articlePrincipal #introduction
	{
		text-align:center;
	}
	
	/* fin article principal */ 
	

  	/* article bage page 3 */ 
	
	#articleBasPage3{
	width:100%;
	display:block;
	border-right:thin #DDDDDD solid;
	}
	
	#articleBasPage3 #imgBasPage3{
	width:90%;
	margin:auto;
	}
	
	#articleBasPage3 #titreArticle3{
	display:none;
	}
	
	#articleBasPage3 #titreArticleMobile3{
	display:block;
	font-size:30px;
	margin:auto;
	font-family:Farnham-textBold;
	color:#202020;
	text-decoration:none;
	text-align:center;
	}
	
	#articleBasPage3 #introduction{
	text-align:center;
	}
	
	

	
	/* fin article bas page 3 */ 
	
	
	/* article bage page 4 */ 
	
	#articleBasPage4{
	width:100%;
	display:block;
	border-right:thin #DDDDDD solid;
	}
	
	#articleBasPage4 #imgBasPage4{
	width:90%;
	margin:auto;
	}
	
	#articleBasPage4 #titreArticle4{
	display:none;
	}
	
	#articleBasPage4 #titreArticleMobile4{
	display:block;
	font-size:30px;
	margin:auto;
	font-family:Farnham-textBold;
	color:#202020;
	text-decoration:none;
	text-align:center;
	}
	
	#articleBasPage4 #introduction{
	text-align:center;
	}
	
	

	
	/* fin article bas page 3 */ 
	
	
	/* bloc droite */ 
	
	#blocDroite
	{
		display:block;
		border-right:thin #DDDDDD solid;
		width:100%;
	}
	
	#separationArticleSecondaires{
		display:none;
	}

	
	
	/* fin bloc droite */ 

	/* article secondaire 1 */ 
	
	#articleSecondaire1 #titreArticle1{
	text-align:center;
	}
	
	#articleSecondaire1 #introduction
	{
		font-size:15px;
		width:100%;
		text-align:center;
		margin:auto;
		display:block;
		margin-top:10px;
		
	}

	#articleSecondaire1 #imgSecondaire1
	{
		display:block;
		margin:auto;
		width:90%;
	}

	
	/* fin secondaire 1 */ 
	
	
	/* article secondaire 2 */ 
	
	#articleSecondaire2 #titreArticle2{
	text-align:center;
	}
	
	#articleSecondaire2 #introduction
	{
		font-size:15px;
		width:100%;
		text-align:center;
		margin:auto;
		display:block;
		margin-top:10px;
		
	}
	#articleSecondaire2 #imgSecondaire2
	{
		display:block;
		margin:auto;
		width:90%;
	}

	
	/* fin secondaire 1 */ 


}








