body{
	width:100%;
	font-family:Farnham-textBold;

}

#conteneur{
	width:1200px;
	margin:auto;
	margin-top:40px;
}
/* premiere partie */ 
#premierePartieFormulaire{
	width:100%;
}
#premierePartieFormulaire #descriptionTITRE{
	display:block;
	font-size:18px;
	font-weight:bold;
}

#premierePartieFormulaire  #TITRE, #messageFB, #messageTwitter{
	border-radius: 5px;
	width:100%;
	height:20px;
}

#premierePartieFormulaire  #descriptionINTRODUCTION{
	display:block;
	font-size:18px;
	font-weight:bold;

}

#premierePartieFormulaire  #INTRODUCTION{
	border-radius: 5px;
	width:100%;
	height:200px;
}

#premierePartieFormulaire  #descriptionCONTENU{
	display:block;
	width:250px;
	font-size:18px;
	font-weight:bold;

}

#premierePartieFormulaire #CONTENU{
	border-radius: 5px;
	width:90%;
	height:400px;
}

/* deuxieme partie */

#deuxiemePartieFormulaire{
	width:100%;
}

#descriptionCATEGORI{
	display:block;
	width:250px;
	font-size:18px;
	font-weight:bold;
}

#CATEGORI{
	border-radius: 5px;
}

#descriptionVideo
{
	font-size:18px;
	font-weight:bold;
	display:block;
}

#descriptionImage, #descriptionPostFacebook, #descriptionPostTwitter{
	font-size:18px;
	font-weight:bold;
	display:block;
}

#descriptionPublier{
	display:block;
	font-size:18px;
	font-weight:bold;

}

#ecrireArticle
{
	display:block;
	width:100%;
	border:1px black solid;
	background-color:royalblue;
	color:white;
	margin-top:10px;
	margin-bottom:10px;
}

#articlesPhp, #articlesCSS, #articles
{
	border:1px black solid;
	display:inline-block;
	vertical-align:top;
	width:30%;
}

