vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Apr 2015 21:46:09 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Sofiane-VAIO\\Sofiane
vti_modifiedby:SR|Sofiane-VAIO\\Sofiane
vti_timecreated:TR|11 Apr 2015 21:46:09 -0000
vti_cacheddtm:TX|11 Apr 2015 21:46:09 -0000
vti_filesize:IR|1991
vti_cachedlinkinfo:VX|S|../Police/CloisterBlack.ttf S|../Police/Farnham.ttf S|../Police/FarnhamText-RegularItalLF.ttf S|../Police/9k-RPmcnxYEPm8CNFsH2gg.woff
vti_cachedsvcrellinks:VX|NSUS|CSS/Police/CloisterBlack.ttf NSUS|CSS/Police/Farnham.ttf NSUS|CSS/Police/FarnhamText-RegularItalLF.ttf NSUS|CSS/Police/9k-RPmcnxYEPm8CNFsH2gg.woff
vti_backlinkinfo:VX|Articles/lalalalal.php
