vti_encoding:SR|utf8-nl
vti_author:SR|Sofiane-VAIO\\Sofiane
vti_modifiedby:SR|Sofiane-VAIO\\Sofiane
vti_timelastmodified:TR|10 Apr 2015 18:46:13 -0000
vti_timecreated:TR|09 Jan 2015 21:06:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.php
vti_nexttolasttimemodified:TW|01 Apr 2015 18:00:25 -0000
vti_cacheddtm:TX|10 Apr 2015 18:46:13 -0000
vti_filesize:IR|2910
