vti_encoding:SR|utf8-nl
vti_author:SR|Sofiane-VAIO\\Sofiane
vti_modifiedby:SR|Sofiane-VAIO\\Sofiane
vti_timelastmodified:TR|10 Apr 2015 18:46:13 -0000
vti_timecreated:TR|07 Feb 2015 11:43:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Articles/lalalalal.php Articles/llilili.php Articles/lliloooooo.php Articles/lolol.php Articles/test.php Articles/lalala.php
vti_nexttolasttimemodified:TW|30 Mar 2015 21:53:42 -0000
vti_cacheddtm:TX|10 Apr 2015 18:46:13 -0000
vti_filesize:IR|1702
vti_cachedlinkinfo:VX|S|images/icon-menu.png S|images/icon-check.png
vti_cachedsvcrellinks:VX|NSUS|CSS/CSSIMPORTANT/images/icon-menu.png NSUS|CSS/CSSIMPORTANT/images/icon-check.png
