vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Apr 2015 17:54:17 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Sofiane-VAIO\\Sofiane
vti_modifiedby:SR|Sofiane-VAIO\\Sofiane
vti_timecreated:TR|01 Dec 2014 15:31:37 -0000
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|02 Apr 2015 17:52:08 -0000
vti_cacheddtm:TX|02 Apr 2015 17:54:17 -0000
vti_filesize:IR|2446
vti_cachedlinkinfo:VX|S|../../Police/CloisterBlack.ttf S|../../Police/Farnham.ttf S|../../Police/FarnhamText-RegularItalLF.ttf S|../../Police/9k-RPmcnxYEPm8CNFsH2gg.woff
vti_cachedsvcrellinks:VX|FSUS|Police/CloisterBlack.ttf FSUS|Police/Farnham.ttf NSUS|Police/FarnhamText-RegularItalLF.ttf FSUS|Police/9k-RPmcnxYEPm8CNFsH2gg.woff
