vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Mar 2015 09:27:29 -0000
vti_extenderversion:SR|12.0.0.0
vti_modifiedby:SR|Sofiane-VAIO\\Sofiane
vti_nexttolasttimemodified:TW|21 Mar 2015 09:26:53 -0000
vti_backlinkinfo:VX|formulaireImage/gestionImage.php
vti_author:SR|Sofiane-VAIO\\Sofiane
vti_timecreated:TR|24 Feb 2015 21:52:48 -0000
vti_cacheddtm:TX|21 Mar 2015 09:27:29 -0000
vti_filesize:IR|11428
vti_cachedlinkinfo:VX|S|../../../images/shadow.gif S|../../../images/shadow.gif S|../../../images/shadow.gif
vti_cachedsvcrellinks:VX|NSUS|file:///C:/wamp/images/shadow.gif NSUS|file:///C:/wamp/images/shadow.gif NSUS|file:///C:/wamp/images/shadow.gif
